doctype html 
html
  head
    title Jas Dance Academy
    block scripts
    block style
  body
    nav#navbar
        ul
            div#logo 
                img(src="/static/img/logo.png")
                h2 JDA
            li #[a(href="/") Home]
            li #[a(href="/") About Us]
            li #[a(href="/") Services]
            li #[a(href="/") Class info]
            li #[a(href="/contact") Contact us]
    block content
    footer#footer
        | Copyright &copy 2023 jasdanceacademy.com | All rights Reserved